{% extends 'paginas/index.html' %} 

{% load static %} 

{% load crispy_forms_tags %}

{% block content %}

<div class="mb-4">
    <h4 class="display-6 mb-4">
        <span class="text-gradient d-inline">
            {{ title }}
        </span>
    </h4>
</div>

<div class="row mb-4">

    <div class="col-lg-6 col-md-10 col-sm-12">

        <div class="fs-5 fw-light text-muted">
            *Campos obrigatórios
        </div>


		<form action="" method="POST">

		{% csrf_token %}

		{{ form | crispy }}

		<p>
			<button type="submit" class="btn btn-success">Cadastrar</button>
		</p>

		</form>

	</div>

</div>
{% endblock %}